<div id="login_box">
  <% if session[:user_id].nil? %>
    <h2>Log In</h2><br />
    <h4 style="color:#ff0000"><%=flash[:session]%></h4>
    <%= form_tag sessions_path do %> 
      <p> 
        <%= label_tag :username %>
        <%= text_field_tag :username, params[:username], :class => "input-text" %> 
      </p> 
      <p> 
        <%= label_tag :password %>
        <%= password_field_tag :password, nil, :class => 'input-text' %> 
      </p> 
      <p><%= submit_tag "Sign in" %></p> 
    <% end %>
  <% else %>
  <h4 style="color:#ff0000"><%=flash[:session]%></h4>
    <%= link_to "Edit Profile", edit_user_path(session[:user_id]) %><br />
    <%= link_to "Sell a Product", my_products_path %><br />
    <%= link_to "Share Article", my_articles_path %><br />
    <%= link_to "Logout", logout_path %>
  <% end %>
</div>
