<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Registration Complete</title>
  </head>
  <body>
    <%= @user.email %>, Registration is Complete
    <br />
    <p>Please edit your profile so we can know you better:
    <%= link_to "Edit Profile", edit_user_url(@user, :host => "localhost:3000") %></p>
  </body>
</html>
