$("#comments").html(" <%= j( render :partial => "./articles/comments",
                             :locals => {:comments => @comments} ) %>")
$("#comment_comment").val("")
$("#ajax-notice").html("<%= flash[:notice] %>")