<% content_for :content do %>
  <h1>Latest Articles</h1>
  <br />
  <% if @articles.nil? %>
  <h4>No Article Found</h4>
  <% else %>
    <% @articles.each do |article| %>
        <p>
          <%= truncate(article.body,:length => 100) %><br /><br />
          <%= link_to 'See detail', article %>
        </p>
        <br /><br />
    <% end %>
  <% end %>
<%end%>