<% content_for :content do %>
<h1>My Shared Articles</h1><br />
<%= link_to 'Share New Article', new_article_path %>
<br /> <br />
<% if @articles.nil? %>
<br />
<h4>No Article Found</h4>
<% else %>
  <% @articles.each do |article| %>
      <p>Title : <%= article.title %></p>
      <p>Body : <%= truncate(article.body,:length => 100) %></p>
      <%= link_to 'See detail', article %> | 
      <%= link_to 'Edit', edit_article_path(article) %> | 
      <%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' } %>
      <br /><br />
  <% end %>
<% end %>
<%end%>