<% content_for :content do %>
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Body:</b>
  <%= @article.body %>
</p>

<p>
  <b>Author:</b>
  <%= User.find(@article.user_id).name %>
</p>
<br /><br />

<h4>Comments</h4>
<div id="comments">
  <%= render :partial => "comments", :locals => {:comments => @comments}  %>
</div>

<br /><br />
<% if session[:user_id] %>
  <p id="ajax-notice" style="color:#ff0000"></p>
  <h4>Add New Comment</h4>
  <% unless(current_user.nil?)%>
     <%= form_for @comment, :remote => true, :url => comments_path do |f| -%>
        <%= f.text_area :comment %>
        <%= f.hidden_field :article_id, :value => @article.id %>
        <br />
        <%= submit_tag "comment" %>
    <% end -%>
  <% end %>
<% else %>
  <h2>Please login first, to post comment</h2>
<% end %>
<br />
<%= link_to 'Back', articles_path %>
<%end%>