<% content_for :content do %>
<h1>User Profile</h1>
<br />
<p id="notice"><%= notice %></p>
<br />
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<br />
<p>
  <b>Name:</b>
  <%= @user.name %>
</p>
<br />
<p>
  <b>Address:</b>
  <%= @user.address %>
</p>
<br />
<p>
  <b>Phone Number:</b>
  <%= @user.phone_number %>
</p>
<br />
<p>
  <b>Birthday:</b>
  <%= @user.birthday %>
</p>
<br />
<p>
  <b>Gender:</b>
  <%if @user.gender %>
    Male
  <%else%>
    Female
  <%end%>
</p>
<br />
<p>
  <b>Facebook:</b>
  <%= @user.facebook %>
</p>
<br />
<p>
  <b>Blog:</b>
  <%= @user.blog %>
</p>
<% end %>
