<%= form_for([:admin, @category]) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field"> <%= f.label "Parent Category" %>
    <select id="category_parent_id" name="category[parent_id]">
      <option value="">No Parent</option>
      <% unless @parent_categories.nil? %>
        <% @parent_categories.each do |parent| %>
          <option value="<%= parent.id %>" <%if parent.id == @category.parent_id then %> selected="selected" <%end%>><%= parent.name %></option>
        <% end %>
      <% end %>
    </select>
  </div>
  <div class="actions">
    <%= f.submit %> <%= link_to 'Back', categories_path %>
  </div>
<% end %>
