<% content_for :content do %>
  <h1>Listing categories</h1>
  <br />
  <%= link_to 'New Category', new_admin_category_path %>
  <br /><br />
  <table>
    <tr>
      <th>Name</th>
      <th>Parent Category</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td><%= category.parent_name %></td>
      <td><%= link_to 'Show', [:admin, category] %> | 
      <%= link_to 'Edit', edit_admin_category_path(category) %> | 
      <%= link_to 'Destroy', [:admin, category], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>
<% end %>
