#main-menu li:hover, #main-menu li.active {color:#5555FF;}
#main-menu li:hover a, #main-menu li.active a{color:#5555FF;}

#footer-menu li:hover, #footer-menu li.active {color:#5555FF;}
#footer-menu li:hover a, #footer-menu li.active a{color:#5555FF;}