body {
  
}

a{
  color: #0000FF;
  text-decoration:none;
}

.comment_child
{
  padding-left: 20px;
}

table
{
  width : 100%;
  text-align:center;  
}

div.field
{
  margin: 10px 0 10px 0;
}

td
{
  padding: 5px 0 5px 0;
}

tr
{
  border-bottom: solid 1px #000000;
}

ul > li > ul
{
  padding-left : 20px;
}

ul > li
{
  padding: 5px 0 3px 0
}

#content > #wrapper > h1
{
  font-size:23px;
  font-weight:bold;
  display:block;
  width: 100%;
  border-bottom: solid 3px #000000;
  padding-bottom: 10px;
}

.input-text
{
  width: 140px;
  margin-bottom: 10px;
}

.box
{
  border: solid 1px #000000;
  padding: 20px 0 20px 30px;
  margin: 0;
}

.product-box
{
  border: solid 1px #000000;
  padding: 20px 0 20px 20px;
}

.grid-1-3
{
  width: 29%;
  margin:0;
  float:left;
}

.auto-margin-h
{
  margin: 0 auto;
}

.strong
{
  font-weight:bold;
}

.kotak {
  text-align: left;
  background: #ff0000;
  margin-bottom: 20px;
}

.kotak2 {
  text-align: left;
  background: #ffff00;
  margin-bottom: 20px;
}

/*-----HEADER----*/
#logo{
  background-image:url("../img/logo.png");
  background-repeat:no-repeat;
  height:85px;
}

#main-menu
{
  float:left;
  position:relative;
}

#main-menu li
{
  float:left;
  list-style:none;  	 
  padding: 2px 10px;
  height: 15px;
  display:block;
  background-color:rgba(0,0,0,0);
  transition: color 2s, background 2s;
  -moz-transition: color 2s, background 2s;
  -webkit-transition: color 2s, background 2s; 
  -o-transition: color 2s, background 2s;
}

#main-menu li+li
{
  border-left: 3px solid #000000;
}

#main-menu li:hover, #main-menu li.active {color:#0080FF; background-color:rgba(0,0,0,255);color:#ffffff;}
#main-menu li:hover a, #main-menu li.active a{color:#0080FF; color:#ffffff;}
#main-menu li a
{
  display:block; 
  font-size:18px; 
  color:#000000;
  font-weight:bold;
  text-decoration:none; 
  vertical-align:middle;
}

/*---------------------CONTENT--------------------*/

.article-img{
  margin: 0 10px 10px 0;
  float:left;
}

p
{
  text-align:justify;
}

h1
{
  font-size:36px;
}

h2
{
  font-size:23px;
}

h5
{
  font-size:12px;
}

h4, h2, h1, h5
{
  text-align:left;
}

header
{
  margin: 10px 0;
}

aside > article
{
  border-top: 2px solid #000000;
}

footer
{
  display:block;
}

.footer-bar
{
  background-color:#000000;
  text-align:right;
  margin: 10px 0 10px 0;
  padding: 10px 0 10px 0;
}

.footer-bar a
{
  color:#cccccc;
  text-decoration:none;
  margin-right:10px;
}

.aside-footer-bar
{
  text-align:right;
  margin: 25px 0 2px 0;
  padding: 10px 0 10px 0;
}

.aside-footer-bar a
{
  color:#aaaaaa;
  text-decoration:none;
  margin-right:10px;
}

.line-separator
{
  border-bottom: 2px solid #000000;
  margin: 20px 0 20px 0;
  padding-bottom:10px;
}

.aside-separator
{
  margin: 10px 0;
}

#rightbar-img
{
  background-image:url("../img/ruby.jpeg");
  margin: 10px auto;
  width:197px;
  height:132px;
}

.left-align
{
  text-align:left;
}

/*------FOOTER-----*/

.separator
{
  border-top: 2px solid #000000;
  margin-bottom:20px;
  padding-top:10px;
}


#footer-menu
{
  float:right;
}

#footer-menu li
{
  float:left;
  list-style:none;  	 
  padding: 0 10px;
  height: 15px;
  display:block;
  
  transition: color 2s, background 2s;
  -moz-transition: color 2s, background 2s;
  -webkit-transition: color 2s, background 2s; 
  -o-transition: color 2s, background 2s;
}

#footer-menu li+li
{
  border-left: 1px solid #000000;
}

#footer-menu li:hover, #footer-menu li.active {color:#0080FF; background-color:rgba(0,0,0,255);color:#ffffff;}
#footer-menu li:hover a, #footer-menu li.active a{color:#0080FF; color:#ffffff;}

#footer-menu li a
{
  display:block; 
  font-size:12px; 
  color:#000000;
  font-weight:bold;
  text-decoration:none; 
  vertical-align:middle;	
}


#copyright
{
  text-align:left;
}