<h2>Category Listing</h2><br />
<ul><% Category.get_parent.each do |parent| %>
  <li><a href="<%= url_for products_path(:f => parent.id) %>" class="strong"><%= parent.name %></a>
    <ul> 
      <% Category.get_child(parent.id).each do |child| %>
        <li><a href="<%= url_for products_path(:f => child.id) %>"><%= child.name %></a></li> 
      <% end %>
    </ul>
  </li>
<% end %></ul>