<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :weight %><br />
    <%= f.text_field :weight %>
  </div>
  <div class="field"> <%= f.label "Category" %><br />
    <select id="product_category_id" name="product[category_id]">
      <% Category.get_parent.each do |parent| %>
        <option value="<%= parent.id %>" <%if parent.id == @product.category_id then %> selected="selected" <%end%>><%= parent.name %></option>
        <% Category.get_child(parent.id).each do |child| %>
          <option value="<%= child.id %>"  <%if child.id == @product.category_id then %> selected="selected" <%end%>>+--> <%= child.name %></option>  
        <% end %>
      <% end %>
    </select>   
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
