<% content_for :content do %>
  <h1>My Products</h1>
  <br />
  <%= link_to 'Sell New Product', new_product_path %>
  <br /><br />
  <div class="auto-margin-h">
    <% @products.each do |product| %>
        <div class="product-box grid-1-3 margin">
          Name : <%= product.name %><br />
          Price : <%= product.price %><br />
          <%= link_to 'See More', product %>
        </div>
    <% end %>
    <div class="clear"></div>
  </div>
<%end%>
