<% content_for :content do %>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Weight:</b>
  <%= @product.weight %>
</p>

<p>
  <b>Seller : </b>
  <%= User.find(@product.user_id).name %>
</p>

<p>
  <b>Category:</b>
  <%= Category.find(@product.category_id).name %>
</p>
<% if @product.user_id == session[:user_id] %>
<%= link_to 'Edit Product Listing', edit_product_path(@product)%> |
<% end %>
<%= link_to 'Back', products_path %>
<%end%>